/* Hola profe, se que tiene fallos al final del XML y no se porque, ya que a priorí está todo bien. */
factura{
    color: rgb(70, 95, 240);
    font-family: 'Arial';
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 80%;
    font-size: 80%;
}
bloque1, bloque2, bloque3, bloque4, bloque5, bloque6, bloque7, bloque8{
    border: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    float: left;
    width: 100%;
    border-color: black;
}
numfactura{
    text-align: center;
    display: block;
    font-weight: bold;
    width: 100%;
    margin-top: 2%;
    padding-bottom: 1%;
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 0px;
    font-size: 110%;
}
numfactura::before{
    content: "FACTURA nº  ";
}
datos_empresa{
    border-right: solid;
    border-width: 2px;
    float: left;
    width: 60%;
    border-color: black;
}
nombre_empresa, calle, ciudad, cif, telefono, fax{
    float: right;
    width: 100%;
}
cif::before{
    content: "C.I.F.:  ";
}
telefono::before{
    content: "teléfono:  ";
}
fax::before{
    content: "fax:  ";
}
fax{
    padding-bottom: 2%;
}
info_factura{
    float: left;
    padding-top: 4%;
    width: 39%;
}
fecha, num_pedido, forma_de_pago{
    float: left;
    width: 100%;
}
fecha::before{
    content: "Fecha:  ";
}
num_pedido::before{
    content: "Pedido nº  ";
}
forma_de_pago::before{
    content: "Forma de pago:  ";
}
titulo_datos_cliente, titulo_datos_factura{
    display: block;
    font-weight: bold;
    width: 100%;
    margin-top: 2%;
    padding-bottom: 1%;
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 0px;
    font-size: 110%;
}
datos_cliente{
    border-right: solid;
    border-width: 2px;
    float: left;
    width: 100%;
    border-color: black;
}
num_cliente, nombre, direccion_de_envio, poblacion, cod_postal, provincia{
    float: right;
    width: 100%;
}
provincia{
    border-bottom:solid;
    border-width: 2px;
    border-color: black;
    padding-bottom: 2%;
}
num_cliente::before{
    content: "nº cliente:  ";
}
nombre::before{
    content: "Nombre:  ";
}
direccion_de_envio::before{
    content: "Dirección de envio:  ";
}
poblacion::before{
    content: "Población:  ";
}
cod_postal::before{
    content: "Cod. postal:  ";
}

provincia::before{
    content: "Provincia:  ";
}
titulo_ref, titulo_desc, titulo_cantidad, titulo_precio, titulo_IVA, titulo_importe,  ref1, ref2, ref3, ref4, desc1, desc2, desc3, desc4, cant1, cant2, cant3, cant4, precio1, precio2, precio3, precio4, iva1, iva2, iva3, iva4, importe1, importe2, importe3, importe4{
    float: left;
    text-align: right;
    border-left: solid;
    border-width: 2%;
    border-color: black;
}
titulo_ref, ref1, ref2, ref3, ref4{
    width: 8%;
}
titulo_desc, desc1, desc2, desc3, desc4{
    width: 30%;
}
titulo_cantidad, cant1, cant2, cant3, cant4{
    width: 10%;
}
titulo_precio, precio1, precio2, precio3, precio4{
    width: 20%;
}
titulo_IVA, iva1, iva2, iva3, iva4{
    width: 8%;
}
titulo_importe, importe1, importe2, importe3, importe4{
    width: 10%;
}
titulo_ref{
    border-left: none;
}
titulo_base_imponible, base_imponible{
    text-align: right;
    border-right: solid;
    border-width: 38%;
    border-color: black;
}
titulo_iva_total, iva_total{
    text-align: right;
    border-right: solid;
    border-width: 30%;
    border-color: black;
}
titulo_cuota_iva, cuota_iva{
    text-align: right;
    border-right: solid;
    border-width: 18%;
    border-color: black;
}
TOTAL{
    content: "TOTAL FACTURA:  ";
    text-align: center;
}